################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/backend/devices
/backend/drawflow.json
/backend/labels.json
